/***************************************************************************************************
 * I hereby declare upon my word of honor that I have neither given nor received unauthorized help
 * on this work.
 *
 * Zachary Zwierko
 * HONR 491
 * Spring 2019
 **************************************************************************************************/

body {
    background-color: navy;
    color: navy;
    font-family: Verdana, sans-serif;
}

.card {
    height: 800px;
    margin: 50px auto;
    min-height: 500px !important;
    min-width: 500px !important;
    overflow: hidden;
    resize: both;
    width: 95%;
}

.card-header {
    height: 100px;
    min-height: 100px;
}

.card-body {
    height: 1px;
    padding: 0;
    width: 100%;
}

.card-footer {
    display: flex;
    height: 50px;
    min-height: 50px;
}

.spacer {
    flex: 1;
}

.warning {
    background-color: maroon;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#map {
    border: none;
    height: 100%;
    width: 100%;
}