/***************************************************************************************************
 * I hereby declare upon my word of honor that I have neither given nor received unauthorized help
 * on this work.
 *
 * Zachary Zwierko
 * University of Mary Washington
 * HONR 491
 * Spring 2019
 **************************************************************************************************/

html,
body,
main,
#map {
    height: 100%;
    width: 100%;
}

body {
    background-color: navy;
    color: navy;
    font-family: Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

main:focus-within {
    border: 5px solid cyan;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

nav {
    margin-right: calc(800px - 50%);
    position: absolute;
    z-index: 1;
}

nav div {
    background-color: lightgray;
    float: left;
    min-height: 65px;
    min-width: 355px;
    opacity: 0.95;
    padding: 10px;
}

nav h1 {
    margin: 0;
}

nav h2 {
    font-size: 1em;
    margin: 5px 0 0;
}

nav fieldset {
    border: 2px solid navy;
    border-radius: 2px;
}

nav fieldset legend {
    padding: 0 5px;
}

nav fieldset legend span {
    font-weight: bold;
}

nav fieldset label {
    display: inline-block;
    margin: 5px;
}

nav fieldset select {
    background-color: white;
    border: 1px solid navy;
    border-radius: 2px;
    color: navy;
    width: 150px
}

nav fieldset select[disabled] {
    background-color: gray;
}

#warning {
    background-color: crimson;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/********************
 * ESRI API config. *
 ********************/

.esri-widget * {
    color: navy !important;
}

.esri-popup__button,
.esri-popup__pointer-direction,
.esri-widget,
.esri-widget--button {
    background-color: lightgray !important;
    opacity: 0.95;
}

.esri-popup__header-title {
    padding: 0 10px;
}

.esri-popup__content {
    margin: 0 0 10px;
}

.esri-feature__fields {
    padding: 0;
}

.esri-feature__field-header {
    font-weight: bold !important;
    width: 55% !important;
}

.esri-feature__field-data {
    width: 45% !important;
}